html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#header-wrapper {
    background: #EEE;
    border-bottom: 3px solid #AAA;
    font-family: sans-serif;
    text-align: center;
    padding: 8px;
    position: absolute;
    height: 40px;
    width: 100%;
}

#header {
    float: left;
    font-size: 14pt;
}

#nav {
    float: left;
}

#nav > span {
    padding: 0 20px 0 20px;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

#content {
    position: absolute;
    width: 100%;
    top: 59px;
    bottom: 0;
}

#editor {
    font-family: monospace;
    background: #FFF;
    height: 100%;
    width: 50%;
    float: left;
}

#console {
    position: relative;
    font-family: monospace;
    background: #FFF;
    height: 100%;
    width: 50%;
    float: left;
}

.jqconsole {
    font-family: monospace;
    font-size: 10pt;
    color: white;
    background: #0E1628; padding: 10px;
}
.jqconsole-cursor {background-color: gray;}
.jqconsole-blurred .jqconsole-cursor {background-color: #666;}
.jqconsole-prompt {font-weight: 700; color: #0d0;}
.jqconsole-old-prompt {color: #0b0;font-weight: normal;}
.jqconsole-input {font-weight: 700; color: #dd0;}
.jqconsole-old-input {color: #bb0;font-weight: normal;}
.jqconsole-output {color: white;}
